/* 函式 */
:root{
    --color-Primary-200:#E8FEC5;
    --color-Primary-300:#C0FA73;
    --color-Primary-400:#57A203;
    --color-Neutral-White:#FFFFFF;
    --color-Neutral-100:#F8F9FA;
    --color-Neutral-300:#DEE2E6;
    --color-Neutral-500:#ADB5BD;
    --color-Neutral-600:#6C757D;
    --color-Neutral-900:#212529;
    --color-Danger-300:#D74F4F;
}

/* 標籤的基本樣式 */
*,*::before,*::after{
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

img{
	vertical-align: middle;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

/* 通用樣式 */
.container{
    width: 1296px;
    margin: 0 auto;
}
  
.h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 700;
}

.h3{
    font-size: 28px;
    line-height: 1.2;
    font-weight: 700;
}

.h4{
    font-size: 24px;
    line-height: 1.2;
    font-weight: 700;
}

.h6{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
}

.md{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
}

.sm{
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

.f-weight-400{
    font-weight: 400;
}

.w-40{
    width: 40px;
}

.w-196{
    width: 196px;
}

.w-1076{
    width: 1076px;
}

.d-block{
    display: block;
}

.d-flex{
    display: flex;
}

.flex-w{
    flex-wrap: wrap; 
}

.jc-c{
    justify-content: center;
}

.jc-sb{
    justify-content: space-between;
}

.ai-c{
    align-items: center;
}

.td-lt{
    text-decoration:line-through ;
}

.color-Neutral-White{
    color: var(--color-Neutral-White);
}

.color-Neutral-300{
    color: var(--color-Neutral-300);
}

.color-Neutral-500{
    color: var(--color-Neutral-500);
}

.color-Neutral-600{
    color: var(--color-Neutral-600);
}

.color-Neutral-900{
    color: var(--color-Neutral-900);
}

.color-Primary-400{
    color: var(--color-Primary-400);
}

.color-Danger-300{
    color: var(--color-Danger-300);
}

.bg-color-Neutral-100{
    background: var(--color-Neutral-100);
}

.bg-color-Neutral-900{
    background: var(--color-Neutral-900);
}

.bg-color-Primary-200{
    background: var(--color-Primary-200);
}

.bg-color-Primary-300{
    background: var(--color-Primary-300);
}

.ta-center{
    text-align: center;
}

.py-7{
    padding: 7px 0;
}

.py-8{
    padding: 8px 0;
}

.py-12{
    padding: 12px 0;
}

.py-16{
    padding: 16px 0;
}

.py-24{
    padding: 24px 0;
}

.py-32{
    padding: 32px 0;
}

.py-48{
    padding: 48px 0;
}

.py-64{
    padding: 64px 0;
}

.pt-32{
    padding-top: 32px;
}

.mt-32{
    margin-top: 32px;
}

.mt-40{
    margin-top: 40px;
}

.mt-48{
    margin-top: 48px;
}

.mb-4{
    margin-bottom: 4px;
}

.mb-8{
    margin-bottom: 8px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-16{
    margin-bottom: 16px;
}

.mb-24{
    margin-bottom: 24px;
}

.mb-32{
    margin-bottom: 32px;
}

.mb-48{
    margin-bottom: 48px;
}

.mr-8{
    margin-right: 8px;
}

.mr-12{
    margin-right: 12px;
}

.mr-24{
    margin-right: 24px;
}

.mr-40{
    margin-right: 40px;
}

.mr-48{
    margin-right: 48px;
}

.mr-auto{
    margin-right: auto;
}

/* 個別設定 */
.logo{
    padding: 8px 12px;
    font-family: Mina;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.044em;
}

.hov-border-bottom:hover{
    border-bottom: 4px solid var(--color-Neutral-900);
    padding-bottom: 8px;
}

.breadcrumb a{
    color:var(--color-Neutral-600)
}

.breadcrumb a:hover{
    text-decoration: underline;
}

.breadcrumb li:after{
    content:"/";
    color:var(--color-Neutral-300);
    display: inline-block;
    margin: 0 12px;
}

.breadcrumb li:last-child:after{
    content:"";
    margin: 0;
}

.image-card{
    width: 50%;
    padding: 4px;
}

.color-card{
    width: 64px;
    margin-right:8px;
}

.color-card:hover{
    outline: 1px solid var(--color-Neutral-600);
}

.size-card{
    padding: 12px 0px;
    width: 160px;
    height: 100%;
    color: var(--color-Neutral-900);
    background-color: var(--color-Neutral-White);
    border: 1px solid var(--color-Neutral-300);
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.size-card:hover{
    border: 1px solid var(--color-Neutral-600);
}

.size-card:active{
    border: 1px solid var(--color-Neutral-900);
}

.size-card:disabled{
    color:var(--color-Neutral-300);
}

.btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 259px;
    color: var(--color-Neutral-900);
    background-color: var(--color-Neutral-White);
    border: 1px solid var(--color-Neutral-900);
    border-radius: 4px;
}

.btn-wrapper-icon{
    fill:var(--color-Neutral-900);
}

.btn-wrapper:hover{
    .btn-wrapper-icon{
        fill:var(--color-Neutral-White);
    }
    color: var(--color-Neutral-White);
    background-color: var(--color-Neutral-900);
}

.aside-card{
    padding: 0 12px;
}

.aside-card a:hover{
    outline: 1px solid var(--color-Neutral-900);
}

.p-buttom{
    padding: 12px 24px;
    border-radius: 4px;
}

.border-top{
    border-top:1px solid var(--color-Neutral-300);
}

.border-bottom{
    border-bottom:1px solid var(--color-Neutral-300);
}

.card{
    width: 30%;
}